body {
    font-family: 'Courier New', monospace;
    text-align: center;
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    color: white;
}

.container {
    margin-top: 100px;
    padding: 30px;
    border-radius: 15px;
    background: blues;
    box-shadow: 0 0 20px aqua;
}

h2 {
    color: white;
}

#clock-container {
    font-size: 3rem;
    margin: 20px;
    letter-spacing: 5px;
}

span {
    padding: 10px 15px;
    border-radius: 8px;
    transition: all 0.3s ease;
}

/* DOM blink () */
.red-blink {
    background: lightpink;
    box-shadow: 0 0 10px teal;
}

/* VDOM blink (green ONLY seconds) */
.green-blink {
    background: #00ff99;
    color: black;
    box-shadow: 0 0 15px #00ff99;
}

button {
    padding: 10px 15px;
    margin: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background: #ffd369;
    color: black;
    font-weight: bold;
}

button:hover {
    background: #ffb347;
}

#status {
    margin-top: 15px;
    color: #ddd;
}